<html>
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <title>Title</title>
 </head>
    <body>
       <table border = 1>
          <thead>
             <td>改名</td>
             <td>地址</td>
             <td>城市</td>
             <td>编码</td>
          </thead>
          {% for row in rows %}
             <tr>
                <td>{{row["name"]}}</td>
                <td>{{row["addr"]}}</td>
                <td>{{row["city"]}}</td>
                <td>{{row['pin']}}</td>
             </tr>
          {% endfor %}
       </table>
    </body>
 </html>